@page
@model IndexModel
@{
    ViewData["Title"] = "Farmer page";
    Layout = "~/Pages/Authorized/Shared/_AppLayout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using FarmApp.Models;

@inject UserManager<User> UserManager

<div class="text-center">
    <h1 class="display-4">Hello @UserManager.GetUserName(User)</h1>
</div>

<div class="row text-center justify-content-center">
    <div class="col-md-8">
        <a class="btn btn-primary btn-navigation" asp-page="/Authorized/Farmer/Shops/Index">My Shops</a>
        <a class="btn btn-primary btn-navigation" asp-page="/Authorized/Farmer/Messages/Index">Messages</a>
    </div>
</div>