<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Authorized/Farmer/Shops/Index">My Shops</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Authorized/Farmer/Messages/Index">Messages</a>
    </li>
</ul>
