<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Authorized/Customer/Map">Map</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Authorized/Customer/Find/Index">Find</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Authorized/Customer/Favourites/Index">Favourites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Authorized/Customer/Messages/Index">Messages</a>
    </li>
</ul>