@using Microsoft.AspNetCore.Identity
@using FarmApp.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="change-password" asp-page="./Index">Password</a></li>
    
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Farmer"))
        {
            <li class="nav-item"><a class="nav-link @ManageNavPages.BillingInformationNavClass(ViewContext)" id="profile" asp-page="./BillingInformation">Billing Information</a></li>
        }
    }

</ul>
