@page

@using Microsoft.AspNetCore.Identity
@using FarmApp.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 30pt;">Welcome to FarmApp</h1>
</div>


<div class="row text-center justify-content-center">
    <div class="col-md-8">
        @if (SignInManager.IsSignedIn(User))
        {
        <form id="logoutForm" class="form-inline text-center justify-content-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">

            @if (User.IsInRole("Customer"))
            {
                <a class="btn btn-primary btn-navigation" asp-page="/Authorized/Customer/Index">Go to the App</a>
            }
            else if (User.IsInRole("Farmer"))
            {
                <a class="btn btn-primary btn-navigation" asp-page="/Authorized/Farmer/Index">Go to the App</a>
            }

            <button id="logout" type="submit" class="btn btn-primary btn-navigation">Logout</button>
        </form>

        }
        else
        {
            <a class="btn btn-primary btn-navigation" asp-area="Identity" asp-page="/Account/Login">Login</a><br />
            <a class="btn btn-primary btn-navigation" asp-area="Identity" asp-page="/Account/Register">Register as Customer</a>
            <a class="btn btn-primary btn-navigation" asp-area="Identity" asp-page="/Account/RegisterFarmer">Register as Farmer</a>
        }
    </div>
</div>
