@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FarmApp</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in fringilla massa. Mauris lorem nibh, auctor non dictum quis, porta ut magna. Quisque sit amet eleifend odio. Phasellus sodales ante eu odio fermentum, ac sollicitudin felis condimentum. Nunc in nibh ut ipsum placerat faucibus. Nunc quis elementum metus, non suscipit velit. Aenean sed mollis nulla, vitae tincidunt neque. Vivamus magna nisl, tincidunt nec volutpat sed, vestibulum et est. Phasellus tempor ipsum at rhoncus ultrices. Integer sed ultricies magna, eget euismod leo. Duis leo justo, viverra egestas tellus non, faucibus eleifend erat. Suspendisse mattis mollis mi ut gravida. Aenean ac eros in sapien faucibus dictum non vitae enim.
    </p>
    <p>
        Morbi sit amet laoreet quam. Proin commodo pharetra orci, a facilisis augue consequat non. Aliquam a risus at eros commodo ullamcorper vel ut quam. Morbi sit amet cursus velit. Pellentesque est erat, vestibulum a vulputate non, euismod ac leo. Duis malesuada leo nisl, at scelerisque est interdum quis. Proin rhoncus arcu quam, et aliquet turpis dapibus a. Morbi tempor auctor enim, id efficitur tortor rhoncus sit amet. Nam dignissim eu tortor et pellentesque. Vestibulum sagittis turpis mi, et interdum ligula tempor vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam elit ante, blandit ac lorem id, aliquam ultrices nisi.
    </p>

    @if (User.IsInRole("Customer"))
    {
        <p>Role: <em>Customer</em></p>
    }
    else if (User.IsInRole("Farmer"))
    {
        <p>Role: <em>Farmer</em></p>
    }
    else if (User.IsInRole("Admin"))
    {
        <p>Role: <em>Admin</em></p>
    }

</div>
