@page
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut tempor metus. Duis quis ante ac dui pretium dignissim. Morbi semper consequat velit, vel rhoncus diam aliquet ac. Integer in ullamcorper magna. Quisque ullamcorper lorem et sem venenatis, nec aliquet dolor varius. Integer ipsum felis, cursus at ultricies sit amet, lobortis eu orci. Quisque metus sapien, mollis nec ante in, egestas fringilla tortor. In ultrices blandit lectus. Pellentesque ipsum tortor, vulputate convallis dolor ut, pharetra luctus augue. Duis a convallis ipsum. Suspendisse facilisis magna erat, vitae maximus sapien ornare in. Curabitur quis nulla malesuada, interdum metus sed, elementum mi.
</p>
<p>
    Donec non est vitae enim pretium tincidunt in a nisl. Duis neque ligula, porttitor ut mi vel, suscipit dignissim tellus. Curabitur finibus urna sed ipsum venenatis, in posuere ligula efficitur. Proin cursus pharetra lorem, et vehicula risus pellentesque vel. Aenean quis tristique purus. Vivamus ut ante ut odio aliquet gravida. Integer ultrices iaculis justo, id volutpat neque pellentesque a. Nullam fermentum odio vel tellus rhoncus, at tempus metus vestibulum. Quisque eu sem at nisl tincidunt feugiat. Suspendisse facilisis sodales aliquet. Vivamus viverra vitae ex ac convallis. Aliquam commodo convallis fermentum. Nunc semper lacus id pretium laoreet.
</p>
<p>
    Cras scelerisque felis a nulla efficitur suscipit. Morbi sed varius leo, id consectetur sapien. Sed volutpat sagittis luctus. Vestibulum sodales arcu nec arcu tristique bibendum. Quisque non nulla sapien. Cras sed cursus lacus. Etiam nec elit lectus.
</p>
<p>
    Duis rhoncus facilisis elit at tempor. Nulla hendrerit scelerisque elit, a sollicitudin lorem varius a. Cras non posuere mauris. Quisque tincidunt ex nisi, non ornare dui interdum vel. Nullam facilisis vel ex id cursus. Nulla dolor nulla, sodales eu velit et, tempus vulputate lorem. Fusce laoreet nisl at mauris bibendum auctor. Vivamus molestie lobortis erat. Sed a dictum dui. Suspendisse potenti. Suspendisse dignissim sit amet metus vitae lacinia. Vestibulum non nibh ullamcorper, gravida risus id, egestas enim. Morbi quis ante in ex lobortis malesuada at ac sapien.
</p>
<p>
    Praesent aliquam arcu sit amet volutpat aliquam. Nulla dui libero, venenatis nec hendrerit et, pretium at mi. Suspendisse ipsum augue, pulvinar ac metus ac, sodales porta nibh. Aliquam semper purus a erat maximus tempus. Aliquam interdum faucibus eros vitae iaculis. Nunc ultricies leo ac neque gravida sodales. Phasellus faucibus molestie arcu eu commodo. Phasellus dignissim turpis turpis, ut condimentum erat sagittis faucibus. Suspendisse id sem ut ante fermentum laoreet. Nunc sollicitudin dapibus sapien, eu pharetra ligula viverra et.
</p>
