@page "{id:int?}"
@model FarmApp.Pages.Authorized.Farmer.Shops.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Authorized/Shared/_AppLayout.cshtml";
}

<h1>Edit</h1>

<h4>Shop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Shop.Id" />
            <div class="form-group">
                <label asp-for="Shop.Name" class="control-label"></label>
                <input asp-for="Shop.Name" class="form-control" />
                <span asp-validation-for="Shop.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.Description" class="control-label"></label>
                <textarea asp-for="Shop.Description" class="form-control" style="height: 100pt;"></textarea>
                <span asp-validation-for="Shop.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.Email" class="control-label"></label>
                <input asp-for="Shop.Email" class="form-control" />
                <span asp-validation-for="Shop.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.Address" class="control-label"></label>
                <textarea readonly id="address-input" asp-for="Shop.Address" class="address-input form-control"></textarea>
                <span asp-validation-for="Shop.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input readonly asp-for="Shop.Latitude" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input readonly asp-for="Shop.Longitude" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Image.ImageFile" class="control-label"></label>
                <br />
                <input type="file" asp-for="Image.ImageFile" />
                <span asp-validation-for="Image.ImageFile" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Shop.Image" />
            <div class="form-group">
                <input type="hidden" asp-for="Shop.CreateDate" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-page="./Index">Back to List</a>
        </div>
    </div>
    <div class="col-8 justify-content-center">
        <div id="floating-panel" class="text-center">
            <input id="address" type="text" value="Plzeň" />
            <input id="submit" type="button" value="Find" />
        </div>
        <div id="map-farmer"></div>
    </div>
</div>

@section Scripts {
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="~/js/map-farmer-edit.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ_KktQr3pdKvnjWBUatYZuf31ek4WaP8&callback=initMap&libraries=&v=weekly"
            async></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
