@page
@model FarmApp.Pages.Authorized.Customer.Find.MapModel

@{
    ViewData["Title"] = "Find";
    Layout = "~/Pages/Authorized/Shared/_AppLayout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using FarmApp.Models;
@using FarmApp.Models.Services;

@inject UserManager<User> UserManager
@inject IFavouriteService FavouriteService

<h1>Nearby Shops</h1>
<hr />

<div class="row">
    <div id="map"></div>
</div>

@section Scripts {
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="~/js/map-customer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ_KktQr3pdKvnjWBUatYZuf31ek4WaP8&callback=initMap&libraries=&v=weekly"
            async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.10.0/feather.js"></script>
}
