@page "{id:int?}"
@model FarmApp.Pages.Authorized.Customer.Favourites.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Authorized/Shared/_AppLayout.cshtml";
}

<h1>Remove from Favourites</h1>

<h3>Are you sure?</h3>
<div>
    <h4>@Model.Favourite.Shop.Name</h4>
    <hr />

    <form method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Favourite.Id" />
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
    <div>
        <a asp-page="./Index">Back to Favourites</a>
    </div>
</div>
